.prform {
    display: grid;
    gap: 16px;
    margin: 0px;
    place-items: center;
}

.prform input {
    margin-left: 38px;
}

.btns {
    display: flex;
    margin-top: 10px;
}

.dhabtn {
    border: 2px solid #B1B1B1;
    border-radius: 10px;
    width: 202px;
    height: 35px;
    color: #1e1e1e;
    background-color: transparent;
    font-weight: bolder;
    margin: 10px;
    cursor: pointer;
    font-size: small;
}

.dhabtn a {
    color: #1e1e1e;
    text-decoration: none;
}

.dhabtn:hover {
    border: 2px solid #d3312bff;
}