.uiformbox {
    padding-top: 30px;
    width: 1520px;
    height: 400px;
}

.userinfform {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.userinfform1{
    display: flex;
    position: absolute;
    left: 320px;
    top: 140px;
    gap: 30px;
}

.userinfform2 {
    display: flex;
    position: absolute;
    left: 320px;
    top: 240px;
    gap: 30px;
}

.userinfbtn {
    display: flex;
    position: absolute;
    left: 310px;
    top: 340px;
}