.catalogpage {
    background-color: #E5E9EC;
    width: 1520px;
    padding: 30px;
}

.catalogmenu {
    width: 275px;
    height: 450px;
    background-color: #1c1c1c;
    border: 1px solid #D3312B;
    border-radius: 15px;
    float: left;
}

.catalogmenu > h1 {
    color: #D3312B;
    font-size: x-large;
    margin-left: 20px;
}

.cataloglinha {
    height: 1px;
    width: 250px;
    background-color:  #868686;
    margin: auto;
    margin-bottom: 47px;
}

.catalogcontainer {
    display: flex;
    justify-content: center;
}

.catalogcontainer2 {
    display: flex;
    justify-content: center;
    position: relative;
    left: 137px;
}

.catalogcontainerbtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-content: center;
}

.catalogcontainerbtn > button {
    width: 398px;
    height: 57px;
    border: 3px solid #D3312B;
    background-color: #E5E9EC;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 50px;
}

.catalogcontainerbtn > button {
    font-size: 1.5em;
    cursor: pointer;
}