.loginbody {
    background-image: url("../images/BG_LoginCadastro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 1520px;
    height: 700px;
    display: grid;
    place-items: center;
}

.loginmask {
    width: 1520px;
    height: 700px;
    background-color: black;
    opacity: 0.5;
}

.cnblogbox {
    position: absolute;
    background-color: #1C1C1C;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.cnblogtext {
    color: #C7C8C9;
}