.footer {
    background-color: #1C1C1C;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list {
    display: inline-flex;
    padding-inline-start: 0px;
    list-style: none;
    text-align: center;
}

.social_list li {
    margin-right: 10px;
    margin-left: 10px;
}

.social_list li:hover {
    color: #d3312bff;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    text-align: center;
    background-color: #2A2A2A;
    width: 100%;
}

.copy_right span {
    font-weight: bold;
    color: #73231dff;
}

.copy_right > p:first-child {
    margin: 0px;
}

