.loginbody {
    background-image: url("../images/BG_LoginCadastro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 1520px;
    height: 700px;
    display: grid;
    place-items: center;
}

.loginmask {
    width: 1520px;
    height: 700px;
    background-color: black;
    opacity: 0.5;
}

.loginbox {
    position: absolute;
    background-color: #1C1C1C;
    width: 420px;
    height: 500px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.loginlogo {
    position: relative;
    top: 20%;
}

.logintext {
    color: #EFEFEF;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}


