.manageblogbox {
    width: 1520px;
    height: 1100px;
    background-color: #E5E9EC;
}

.manageblogbtn {
    position: absolute;
    top: 850px;
    left: 950px;
}

.manageblogcard {
    display: grid;
    place-items: center;
    width: 820px;
    height: 600px;
    position: absolute;
    top: 900px;
    left: 350px;
}

.createblogbtn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: #1E1E1E;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    background-image: linear-gradient(rgb(145, 33, 29), #d3312bff);
    font-size: small;
}

.createblogbtn:hover {
    background-image: linear-gradient(#B1B1B1, #FFFFFF);
}
