.menuuserbox {
    width: 1520px;
    height: 250px;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 230px;
    z-index: 1;
}

.mucard1 {
    background-image: url("../images/MyProfile.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 200px;
    width: 350px;
    color: #fff;
    cursor: pointer;
}

.mucard2 {
    background-image: url("../images/MyOrders.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 200px;
    width: 350px;
    color: #fff;
    margin: 0px;
    cursor: pointer;
}

.mucard3 {
    background-image: url("../images/Wishlist.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 200px;
    width: 350px;
    color: #fff;
    cursor: pointer;
}
