.unavbar {
    /* Layout Properties */
    height: 35px;
    /* UI Properties */
    background: #73231D 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
    display: flex;
}

.list {
    display: flex;
    list-style: none;
    height: 30px;
}

.item {
    margin-right: 70px;
    color: #fff;
    font-size: medium;
    display: flex;
    align-items: center;
}

.itemb {
    position: relative;
    left: 635px;    
    color: #222 ;
    font-size: x-large;
    align-items: center;
    display: flex;
}

.icons {
    color: #222;
    margin-right: 15px;
    font-size: large;
}

.navbar {
    /* Layout Properties */
    top: 47px;
    left: 0px;
    width: 100%;
    height: 120px;
    /* UI Properties */
    background: #1C1C1C 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    backdrop-filter: blur(31px);
    -webkit-backdrop-filter: blur(31px);
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #d3312bff;;
    text-decoration: none;
}

.ilogin {
    padding: 0px 3px 0px 3px;
    border: 3px solid #73231dff;
    border-radius: 50%;
    font-size: x-large;
    
}

.cart {
    font-size: x-large;
}

.menu {
    color: #fff;
    font-size: xx-large;
}

.menuicons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 75px;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;
    overflow: hidden;
}

    
.logo > img {
    max-width: 50px;
}

