.ulbox {
    width: 1520px;
    height: 1097px;
}

.formbox1 {
    width: 100%;
    height: 426px;
    background-color: #e5e9ec;
    position: relative;
    top: 250px;
}

.formbox2 {
    width: 100%;
    height: 610px;
    background-color: #e5e9ec;
    position: relative;
    top: 250px;
}