.checkbox {
    color: #BDBDBD;
    display: flex;
    align-content: center;
}

.checkbox input {
    width: 15px;
    height: 15px;
    margin-top: 15px;
}

.checkbox p {
    margin: 10px;
}

.checkbox > input[type="checkbox"]:checked {
    background-color: #ce2f29;
  }