.valueform_control {
    width: 100%;
    position: relative;
}

.valueform_control span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
}

.valueform_control span img {
    height: 30px;
}

.valueform_control label {
    color: #7e7e7e;
}

.valueform_control input {
    width: 50px;
    height: 50px;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px 0 10px;
    color: #ffffff;
    margin: 0px;
}

.valueform_control input:focus {
    border-color: #d3312bff;
}